<!doctype html>
<html lang="en">

	{% include head.html %}

  <body>
    
	<h1>Sunny Side ADHD Coaching</h1>
	<div class="container-fluid text-right">
		<ul>
			<li><i class="bi bi-facebook"></i></li>
			<li><i class="bi bi-instagram"></i></li>
		</ul>
	</div>

	<div class="container">
		{{ content }}
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>


</html>