<!doctype html>
<html lang="en">

{% include head.html %}

<body>

	<header class="p-3 text-bg-dark">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
	
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 text-white">Home</a></li>
				<!-- <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
				<li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
				<li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
				<li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
			</ul>

			<div class="text-end">
				<ul class="list-inline">
					<li class="list-inline-item"><a href="https://www.facebook.com/Sunnyside-ADHD-Life-Coaching-189517949173689/" target="_blank"><i class="bi bi-facebook text-white"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/sunnyside_adhd_coach/" target="_blank"><i class="bi bi-instagram text-white"></i></a></li>
				</ul>
			</div>
		  </div>
		</div>
	  </header>

	<div class="container">

		<div class="row">
			<div class="col text-center">
				<h1>Sunny Side ADHD Coaching</h1>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ content }}
			</div>
		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
</body>


</html>